<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace = "com.example.springboard.mapper.BoardFileMapper">
    
    <!-- 게시판에 글을 '입력'함과 동시에 boardNo를 가져오는 쿼리문 -->
  	<insert id="insertBoardFile"
  			parameterType="com.example.springboard.vo.Boardfile">
        
  			INSERT INTO boardfile(
  					board_no,
	  				file_name, 
	  				file_ext, 
	  				file_type, 
	  				file_size
	  				) 
  				VALUES(
  					#{boardPw},
  					#{fileName},
  					#{fileExt},
  					#{fileType},
  					#{fileSize}
  					)
  	</insert>
  </mapper>	